# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/build

# Dependency directories
/node_modules
/jspm_packages

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode/
.history

# System files
.DS_Store
Thumbs.db

# Angular specific
.angular/cache
